<!DOCTYPE html>
<html>
<head>
	<title>todo simplified</title>
	<link rel="stylesheet" href="css/todos.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<script type="text/javascript" src="js/lib/jquery-3.3.1.min.js"></script>
	<link rel="icon" type="image/x-icon" href="icons/favicon.ico">
</head>
<body>

<div id="container">
	<h1>TODO List<i class="fas fa-plus"></i></h1>

    <input type="text" name="newitem" placeholder="Add New Todo" maxlength="35">

	<ul>
		<% list.forEach(function(item){ %>
				<li name="<%= item._id %>" class=<%= (item.isToggled == true) ? "completed" : "" %>>
					<span><i class="fas fa-trash-alt"></i></span> <%= item.item %>
				</li>
		<% }); %>
	</ul>
</div>

<script type="text/javascript" src="js/todos.js"></script>
</body>
</html>